/* .card {
  background-image: url(../../assets/img/carhire.jpg);
  background-size: cover;
} */
.macbookContainer {
  margin-top: 80px;
  display: flex;

  align-items: center;
  height: 300px;
  flex-direction: column;
}

.macbook {
  height: auto;
  width: 400px;
}

.projects {
  height: auto;
  width: 260px;
  margin-bottom: -50px;
  position: absolute;
}
