/* .card {
  background-image: url(../../assets/img/carhire.jpg);
  background-size: cover;
} */
.macbookContainer {
  margin-top: 80px;
  display: flex;

  align-items: center;
  height: 300px;
  flex-direction: column;
}

.macbook {
  height: auto;
  width: 400px;
  z-index: 2;
}

.projects {
  height: 190px;
  width: 300px;
  position: absolute;
  z-index: 1;
  padding-top: 12px;
}
