.feed {
  flex: 0.47;
  border-right: 1px solid var(--twitter-background);
  width: fit-content;
  overflow-y: scroll;
}

.feed__header > h2 {
  font-family: "chirp-bold", sans-serif;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;

  padding: 15px 20px;
}

.feed::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .leftbar {
    flex: 0.5;
  }
}

@media (min-width: 1024px) {
  .feed {
    flex: 0.5;
  }
}

@media (min-width: 1440px) {
  .leftbar {
    flex: 0.4;
  }
}
