.rightbar {
  flex: 0.28;
}
.rightbar__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.rightbar__input > input {
  border: none;
  background-color: var(--twitter-background);
}

.rightbar__searchIcon {
  color: gray;
}

.rightbar__Container {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
  height: auto;
  /* min-width: 288px; */
  font-family: "chirp-heavy", sans-serif;
}

.rightbar__Container > h2 {
  font-size: 18px;
  font-weight: 800;
}
@media (min-width: 1024px) {
  .rightbar {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 0.35;
  }
  .rightbar__input {
    max-width: 50%;
  }

  .rightbar__Container {
    max-width: 50%;
    height: 80%;
    line-height: 1.4vh;
  }

  #root > div > div.rightbar > div.rightbar__input > input[type="text"] {
    max-width: 50%;
  }

  #root > div > div.rightbar > div.rightbar__Container > h2 {
    font-size: 1vw;
  }

  #root > div > div.rightbar > div.rightbar__Container > h3 {
    font-size: 0.8vw;
    line-height: 2.5vh;
  }
  #root > div > div.rightbar > div.rightbar__Container > h5 {
    font-size: 0.8vw;
    line-height: 2vh;
  }
  #root > div > div.rightbar > div.rightbar__Container > h4 {
    font-size: 0.8vw;
  }
}
